body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 /* Css For the Home page */

body {
  background-color: #0098b5;
  color: whitesmoke;
  height: 100%;
  width: 100%;
}

.home-inCenter {
  margin-top: 10rem;
  margin-left: 30%;
  font-size: 2.5em;
}

/* Navbar CSS */

.navbar {
  background-color: white;
  color: black;
  z-index: 1;
}